* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: blanchedalmond;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

p {
  max-width: 800px;
  text-align: center;
  color: black;
  margin-bottom: 5px;
  line-height: 1.25;
}

#puzzle_container {
  position: relative;
  width: 400px;
  height: 400px;
  margin-bottom: 5px;
  border: 1px solid black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.puzzle_block {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-size: 400px 400px;
  color: darkcyan;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  user-select: none;
  transition: left 0.5s, top 0.5s;
}

.movablepiece {
  border-color: #ee4949;
  color: darkcyan;
  text-decoration: underline;
  z-index: 2;
}

#win_notification {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff6b6b, #f06595);
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: winAnim 3s ease-in-out;
}

@keyframes winAnim {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.1);
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }
  80% {
    transform: translate(-50%, -50%) scale(1);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

button,
select {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #012346;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover,
select:hover {
  color: white;
  background-color: #012346;
}

select {
  color: #333;
  background-color: #fff;
}

.validators {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}
